<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Button Actions</title>
</head>

<body>
    <h1 style="text-align:center;">Suspect Detection in Surveillance Video</h1>
    <p><br></p>
    <h2 style="text-align:center;">Choose a search option using the buttons below.</h2>
    <p><br></p>
    <div style="text-align: center;">
        <button onclick="location.href='/search1'">Check Database</button>
        <button onclick="location.href='/search2'">Search DVR Video</button>
        <button onclick="location.href='/search3'">Search New Video</button>
        <button onclick="location.href='/search4'">Search Camera Online</button>
    </div>
</body>

</html>
