<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for suspect</title>
</head>

<body data-new-gr-c-s-loaded="14.1168.0">
    <h1 style="text-align: center;">Search for suspect in the database</h1>
    <p><br></p>
    <form action="/search" method="POST" enctype="multipart/form-data"><br>
        <p style="text-align: center;"><label for="suspect_photo">Upload suspect&apos;s photo:</label>
          <input type="file" id="suspect_photo" name="suspect_photo" accept="image/*"></p><br>
        <p style="text-align: center;"><button type="submit">Search</button></p><br>
    </form>
    <p style="text-align: center;"><a href="/">Back to Home</a></p>
</body>

</html>